.pipe-page{
  min-height:100vh;
  background: radial-gradient(circle at top,#0f172a,#020617);
  color:white;
  padding:40px;
  text-align:center;
}

.pipe-container{
  margin-top:60px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

/* Pipe */
.pipe{
  width:120px;
  height:14px;
  border-radius:20px;
  background:#1e293b;
  overflow:hidden;
  position:relative;
  margin:10px;
}

/* Water animation */
.water{
  position:absolute;
  width:0%;
  height:100%;
  background:linear-gradient(90deg,#00d4ff,#0072ff);
  transition:width 1s;
}

/* Flow active */
.pipe.flow .water{
  width:100%;
  animation:waterFlow 2s infinite linear;
}

@keyframes waterFlow{
  from{ background-position:0 0;}
  to{ background-position:200px 0;}
}

/* Labels */
.label{
  margin:0 10px;
  font-weight:bold;
}

/* Branch */
.branch{
  display:flex;
  flex-direction:column;
  margin-left:30px;
}

.accept.flow .water{
  background:linear-gradient(90deg,#00ff9d,#00c853);
}

.reject.flow .water{
  background:linear-gradient(90deg,#ff4d4d,#b30000);
}