/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* THEME VARIABLES */
:root {
  --bg-main: radial-gradient(circle at top, #0f2a33, #020617);
  --bg-card: rgba(15, 23, 42, 0.95);
  --primary: #38bdf8;
  --text-main: #e5e7eb;
  --text-muted: #94a3b8;
  --border-dark: #334155;
}

/* GLOBAL STYLES */
html,
body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}
